# docker-compose.yml reads this automatically

# MySQL
MYSQL_ROOT_PASSWORD=changeme
MYSQL_DATABASE=user_service_db
MYSQL_USER=microservice_user
MYSQL_PASSWORD=changeme

# RabbitMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest